*{
	margin: 0;
	padding: 0;
}

body {
	font: Montserrat, "Montserrat Black", "Montserrat Light", "Montserrat Medium";
}

#index {
	width: 1600px;
	height: 4700px;
	background-color: #FFFFFF;
}

#header {
	width: 1600px;
	height: 987px;
	background-image: url(Photos/vtf-005-resume-website-template.jpg);
	background-repeat: no-repeat;
}

.cv {
	width: 650px;
	height: 160px;
	float: left;
}

.cv>h2 {
	margin-top: 65px;
	margin-left: 215px;
}

.menu {
	width: 950px;
	height: 160px;
	float: left;
}

.menu>ul {
	margin-top: 65px;
	list-style: none;
	text-align: left;
}

.menu>ul>li {
	display: inline;
}

.menu>ul>li>a {
	text-decoration: none;
	color: black;
	font-size: 15px;
	font-style: none;
	margin-right: 40px;
}

.intro {
	width: 900px;
	height: 720px;
	float: left;
}

.hi {
	margin-left: 215px;
	margin-top: 200px;
}

.hi>h3 {
	font-size: 30px;
}

.hi>h1 {
	font-size: 90px;
}

.hi>h2 {
	font-size: 40px;
}

.photo {
	float: left;
}

#about {
	width: 1600px;
	height: 645px;
	background-image: url( Photos/vtf-005-resume-website-template2.jpg);
}

.abt {
	width: 910px;
	height: 645px;
	float: right;
}

.title {
	margin-top: 110px;
	margin-left: 15px;
	font-size: 55px;
}

.content {
	font-size: 14px;
	width: 610px;
	font-weight: lighter;
	text-align: justify;
	line-height: 25px;
	margin-left: 15px;
}

.icon {
	margin-top: 110px;
	margin-left: 5px;
	text-align: center;
	width: 152px;
	height: 150px;
	float: left;

}

.icon>p {
	margin-top: 10px;
	font-weight: lighter;
}
.icon2 {
	float: left;
	margin-top: 110px;
	margin-left: 15px;
	text-align: center;
	width: 152px;
	height: 150px;
}

.icon2>p {
	margin-top: 10px;
}

.icon3 {
	float: left;
	margin-top: 125px;
	margin-left: 25px;
	text-align: center;
	width: 152px;
	height: 150px;
}

.icon3>p {
	margin-top: 10px;
}

.icon4 {
	float: left;
	margin-top: 125px;
	margin-left: 17px;
	text-align: center;
	width: 152px;
	height: 150px;
}

.icon4>p {
	margin-top: 10px;
}

#serskill {
	width: 1600px;
	height: 1100px;
	background-image: url(Photos/vtf-005-resume-website-template17.jpg);
}

#services {
	width: 1600px;
	height: 620px;
}

.space {
	width: 1600px;
	height: 80px;
}

#services>p {
	font-size: 50px;
	text-align: center;
}

.allser {
	width: 1170px;
	height: 385px;
	margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
}

.text_column1 {
	width: 350px;
	height: 200px;
	text-align: inherit;
	font-weight: lighter;
	font-size: 14px;
	line-height: 25px;
	float: left;
	margin-left: 30px;
}

.text_column2 {
	width: 350px;
	height: 200px;
	text-align: inherit;
	font-weight: lighter;
	font-size: 14px;
	line-height: 25px;
	float: left;
	margin-left: 60px;
}

.text_column3 {
	width: 350px;
	height: 200px;
	text-align: inherit;
	font-weight: lighter;
	font-size: 14px;
	line-height: 25px;
	float: left;
	margin-left: 30px;
}

.text_column1>img {
	margin-bottom: 50px;
}

.text_column2>img {
	margin-bottom: 50px;
}

.text_column3>img {
	margin-bottom: 50px;
}

#skill {
	width: 1600px;
	height: 400px;
	padding-top: 20px;
}

.tit {
	font-size: 55px;
	margin-left: 205px;
}

.skyll {
	width: 625px;
	height: 250px;
	margin-left: 200px;
	margin-top: 30px;
	font-size: 14px;
	line-height: 25px;
	text-align: inherit;
	float: left;
}

.button1 {
	float: left;
	margin-left: 10px;
}

.button2 {
	float: left;
    margin-left: 70px;
}

.button1>ul>li {
	margin-bottom: 10px;
}

.button2>ul>li {
	margin-bottom: 10px;
}

.task {
	width: 500px;
	height: 315px;
	float: left;
	margin-left: 60px;
	margin-top: 20px;
	text-align: inherit;
}
	
* {box-sizing: border-box}

.container {
  width: 100%;
  background-color: #ddd;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.skills {
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}

.photograph {width: 60%; background-color: #f2c03b;}
.mar {width: 52%; background-color: #f2c03b;}
.lang {width: 75%; background-color: #f2c03b;}
.code {width: 95%; background-color: #f2c03b;}
.des {width: 75%; background-color: #f2c03b;}

#portfolio {
	width: 1600px;
	height: 1300px;
	background-image: url(Photos/vtf-005-resume-website-template18.jpg);
}

.our {
	padding-top: 90px;
	text-align: center;
	font-size: 55px;
}

#pics {
	width: 1166px;
	height: 1040px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

.pic1 {
	width: 761px;
	height: 373px;
	background-image: url(Photos/vtf-005-resume-website-template3.jpg);
	margin-left: 20px;
}

.pic2 {
	width: 374px;
	height: 630px;
	background-image: url(Photos/vtf-005-resume-website-template5.jpg);
	margin-top: 10px;
	margin-left: 20px;
	float: left;
}

.pic3 {
	width: 377px;
	height: 269px;
	background-image: url(Photos/vtf-005-resume-website-template6.jpg);
	margin-left: 10px;
	margin-top: 10px;
	float: left;
}

.pic4 {
	width: 377px;
	height: 349px;
	background-image: url(Photos/vtf-005-resume-website-template7.jpg);
	margin-left: 10px;
	margin-top: 10px;
	float: left;
}

.pic5 {
	width: 374px;
	height: 800px;
	background-image: url(Photos/vtf-005-resume-website-template4.jpg);
	float: left;
	margin-left: 10px;
	margin-top: -653px;
}

.pic6 {
	width: 374px;
	height: 205px;
	background-image: url(Photos/vtf-005-resume-website-template8.jpg);
	margin-left: 792px;
	margin-top: 435px;
}

#vouch {
	width: 1600px;
	height: 500px;
	background-image: url(Photos/vtf-005-resume-website-template10.jpg);
}

.me {
	text-align: center;
	font-size: 55px;
	padding-top: 80px;
	margin-left: 90px;
}

.john {
	widows: 870px;
	height: 210px;

	margin-left: auto;
	margin-right: auto;
}

.ceo {
	float: left;
	padding-top: 60px;
	margin-left: 250px;
}

.info {
	float: left;
	width: 650px;
	line-height: 25px;
	font-size: 14px;
	margin-top: 70px;
	margin-left: 50px;
}

#copyright {
	width: 1600px;
	height: 240px;
	background-color: #363642;
}

.social {
	width: 355px;
	height: 220px;
	padding-top: 60px;
	margin-left: auto;
	margin-right: auto;
	font-size: 14px;
}

.social>p {
	margin-top: 20px;
	color: grey;
}
